<div class='col-md-12 container-block' style='min-height: 46.9em; max-height: 46.9em;'>
  <header>
    <h3>Activity Feed</h3>
  </header>
  <div class='row activity-row'>
    <div class='col-md-2 activity-title'>
      <p>Activity</p>
    </div>
    <div class='col-md-6 activity-title'>
      <p>Distance</p>
    </div>
    <div class='col-md-2 activity-title'>
      <p>Date</p>
    </div>
    <div class='col-md-2 activity-title'>
      <p>Earnings</p>
    </div>
  </div>
  <div style='min-height: 38.9em; max-height: 38.9em; overflow:scroll'>
    <% current_user.events.sort_by{|evt| evt.event_date.to_date}.reverse.each do |event| %>
    <div class='row' style='padding-top:1.5em'>
      <div class='col-md-2'>
        <% if event.event_type.code == "CYC" %>
          <%= image_tag 'biking.png', style: "height: 30px"  %>
        <% else %>
          <%= image_tag 'runner.png', style: "height: 30px"  %>
        <% end %>
      </div>
      <div class='col-md-6'>
        <p><%= event.data %></p>
      </div>
      <div class='col-md-2'>
        <p><%= event.event_date.to_date.strftime("%b %e, %Y") %></p>
      </div>
      <div class='col-md-2'>
        <p class="amount <%= event.goal.achieved ? "achieved" : "failed" %> <%= event.goal.amount == 0 ? "black" : "red" %>"><%= event.goal.amount || 'Signup For Pro' %></p>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
</div>
