<div class='col-md-12 container-block' style='min-height: 46.9em; max-height: 46.9em;'>
  <header>
    <h3>Activity Feed</h3>
  </header>
  <div class='row activity-row'>
    <div class='col-md-2 activity-title'>
      <p>Activity</p>
    </div>
    <div class='col-md-4 activity-title'>
      <p>Distance</p>
    </div>
    <div class='col-md-2 activity-title'>
      <p>Date</p>
    </div>
    <div class='col-md-2 activity-title'>
      <p>Earnings</p>
    </div>
    <div class='col-md-2 activity-title'>
      <p>Trend</p>
    </div>
  </div>
  <div style='min-height: 38.9em; max-height: 38.9em; overflow:scroll'>
    <% current_user.events.sort_by{|evt| evt.event_date.to_date}.reverse.each do |event| %>
    <div class='row' style='padding-top:1.5em'>
      <div class='col-md-2'>
        <% if event.event_type.code == "CYC" %>
          <%= image_tag 'biking.png', style: "height: 30px"  %>
        <% else %>
          <%= image_tag 'runner.png', style: "height: 30px"  %>
        <% end %>
      </div>
      <div class='col-md-4'>
        <p><%= event.data.to_f.round(3) %> miles</p>
      </div>
      <div class='col-md-2'>
        <p><%= event.event_date.to_date.strftime("%b %e, %Y") %></p>
      </div>
      <div class='col-md-2'>
        <p class="amount <% (event.goal && event.goal.achieved) ? "achieved" : "failed" %> <%= (event.goal && event.goal.amount == 0) ? "black" : "red" %><% end %>"><%= event.goal ? (number_with_delimiter(event.goal.amount, delimeter: ',') || 'Signup For Pro') : '' %></p>
      </div>
      <div class='col-md-2'>
        <% if event.goal  %>
          <% if event.goal.achieved %>
          <i class='fa fa-arrow-up'></i>
          <% elsif event.goal.amount > 0 %>
          <i class='fa fa-arrow-down'></i>
          <% else %>
          <i class='fa fa-minus'></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
</div>
