<div class='col-md-12'>
  <div class='col-md-3 same-height'>
    <div class='col-md-12 container-block' style='margin-bottom:1em'>
      <div class='col-md-8 col-md-offset-2' style='padding:1em'>
        <%= image_tag current_user.pic_url, class: 'img-circle' %>
      </div>
      <div class='col-md-12 text-center'>
        <h3><%= current_user.name %></h3>
      </div>
    </div>
    <%= render 'current_balance' %>
    <%= render 'next_goal' %>
  </div>
  <div class='col-md-9 same-height'>
    <%= render 'activity_feed' %>
  </div>
</div>
<div class='col-md-12'>
  <div class='col-md-6'>
    <div class='col-md-12 container-block'>
      <h3>Look at You Go</h3>
      <%= line_chart EventGraph.distance_graph(current_user) %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='col-md-12 container-block'>
      <h3>Earnings by Activity</h3>
      <%= line_chart EventGraph.earnings_graph(current_user), colors: ["#FF9900"] %>
    </div>
  </div>
</div>
