<div class="col-md-12">
  <div class='col-md-4'>
    <div class='col-md-12'>
      <%= image_tag(@product.picture) %>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='col-md-12 container-block'>
      <div class="col-md-8">
        <h4 style='color:#2CC8D6'>Product Name</h4>
        <hr>
        <h3><%= @product.title %></h3>
      </div>
      <div class='col-md-4'>
        <h4 style='color:#2CC8D6'>Price</h4>
        <hr>
        <h3><%= number_with_delimiter(CurrencyConverter.usd_to_satoshi(@product.price), delimiter: ',') %> <i class='fa fa-btc' style='color:#FF9900'></i> satoshi</h3>
      </div>
      <div class="col-md-12">
        <h4 style='color:#2CC8D6'>Description</h4>
        <hr>
        <h3><%= @product.description %></h3>
      </div>
      <div class="col-md-12" style='padding:1em'>
        <button type="button" class="swole-button" data-toggle="modal" data-target="#myModal">
          Buy now
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @product.title %></h4>
      </div>
      <div style='padding: 2.5em 0'>
        <div class='col-md-12 text-center'>
          <p style='font-size: 1.5em'><%= BtcAccount.get_balance_for_user(current_user).to_i %>
          - <%= CurrencyConverter.usd_to_satoshi(@product.price) %>
          = <%= (BtcAccount.get_balance_for_user(current_user).to_i - CurrencyConverter.usd_to_satoshi(@product.price)) %></p>
        </div>
        <% if BtcAccount.get_balance_for_user(current_user).to_i < CurrencyConverter.usd_to_satoshi(@product.price) %>
        <div class='col-md-12 text-center'>
          <h3>You do not have enough satoshi yet <i class='fa fa-frown-o'></i></h3>
        </div>
        <% else %>
        <div class='col-md-12 text-center'>
          <h3>Whoo hoo! Get it while it's hot! <i class='fa fa-smile-o'></i></h3>
        </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if BtcAccount.get_balance_for_user(current_user).to_i >= CurrencyConverter.usd_to_satoshi(@product.price) %>
          <%= button_to 'Buy', buy_path(@product), method: :get, class: 'swole-button' %>
        <% else %>
          <%= button_to 'Buy', buy_path(@product), method: :get, class: 'swole-button', disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
